<footer>
    <div class="left-bar">
        <p>Benin House, Nahalat Binyamin Street, Tel Aviv</p>
        <p>Phone: 0528360503, 03-5106789 | Fax: 03-5105773</p>
        <p>E-mail: murlakov.eli@gmail.com</p>
        <p style="font-size:11px;">
            @Powered by <a href="https://www.facebook.com/guy.peer.14" target="_blank">Guy Peer</a>
        </p>
    </div>
    <div class="right-bar">
        <p>בית בנין, רח' נחלת בנימין 52 (פינת שד' רוטשילד 19) תל-אביב</p>
        <p>טלפון:	 0528360503 ,03-5106789 | פקס: 03-510577</p>
        <p>מייל: murlakov.eli@gmail.com</p>
        <p style="font-size:11px;">
            @נבנה ע"י <a href="https://www.facebook.com/guy.peer.14" target="_blank">גיא פאר</a>
        </p>
    </div>
    <div class="clear"></div>
</footer>
