* {
    box-sizing: border-box;
    font-family: "Open Sans", 'sans-serif';
}
.clear {
    clear: both;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
a, a:visited, a:link {
    text-decoration: none;
}
html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    background: #f7f7f7;
    height: 100%;
}
nav {
    height: 120px;
    line-height: 120px;
    background: url(/static/images/mu-law.png) no-repeat;
    background-size: cover;
    padding: 0 78px;
    font-size: 18px;
}
nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover {
    opacity: 0.85;
}
nav .langs-dropdown-wrapper {
    position: relative;
}
nav .langs-dropdown-wrapper .langs-dropdown {
    color: #f5f5f5;
    cursor: pointer;
}
nav .langs-dropdown-wrapper .languages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 85px;
    text-align: center;
    right: 0;
    background: rgb(40,42,56);
    width: 130px;
    border-radius: 3px;
}
nav .langs-dropdown-wrapper .languages li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f5f5f5;
    font-weight: 400;
    font-size: 13px;
    position: relative;
}
nav .langs-dropdown-wrapper .languages li a span {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
}
nav .langs-dropdown-wrapper .languages li a img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
}
header {
    background: white;
    height: 110px;
    line-height: 110px;
    padding: 0 74px;
    clear: both;
    margin-top: -22px;
}
header p {
    font-size: 22px;
}
.container {
    padding: 0 74px;
    min-height: calc(100% - 370px);
    height: auto !important;
    margin: 60px auto -100px;
}
.side-menu {
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 180px;
    float: left;
}
.side-menu li {
    display: inline-block;
    background: rgb(40,42,56);
    color: white;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 3px;
    border-radius: 15px;
}
.side-menu li:hover {
    opacity: 0.8;
}
.side-menu li a {
    color: inherit;
    text-decoration: none;
}
.main {
    width: calc(100% - 235px);
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    max-width: 1200px;
    min-height: 152px;
    font-size: 20px;
}
.expertise-menu {
    box-shadow: 0 0 5px rgb(40,42,56);
    border-top: 1px solid rgb(230,230,230);
    border-radius: 3px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background: #f5f5f5;
    width: calc(100% - 220px);
}
.expertise-menu li {
    display: inline-block;
    border-bottom: 2px solid rgb(230,230,230);
    padding: 15px;
    width: 100%;
    background: white;
    cursor: pointer;
}
.expertise-menu li.head:hover {
    background: rgb(40,42,56);
    color: #f5f5f5;
}
.expertise-menu li.body {
    background: #f5f5f5;
    display: none;
}
.lawyers {
    width: calc(100% - 220px);
    padding: 27px 15px;
    background: white;
}
.lawyers .lawyer {
    margin-bottom: 90px;
}
.lawyers .lawyer .name {
    color: rgb(40,42,56);
    font-size: 18px;
    font-weight: 700;
}
.lawyers .lawyer .name span {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(40,42,56);
}
.lawyers .lawyer .headline {
    font-size: 16px;
    font-weight: 700;
}
.lawyers .lawyer .general {
    max-width: 620px;
}
.contact-container {
    background: white;
    padding: 20px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 40px;
    color: rgb(40,42,56);
    width: calc(100% - 220px);
}
.contact-container .contact .title span {
    font-size: 20px;
    display: inline-block;
    border-bottom: 1px solid rgb(40,42,56);
    font-weight: 700;
}
.contact-container .contact-form {
    margin-top: 22px;
    width: 35%;
    min-width: 280px;
}
.contact-container .contact-form form {
    padding: 20px;
    padding-top: 5px;
    border: 1px solid rgb(40,42,56);
    border-radius: 3px;
}
.contact-container .contact-form form h3 {
    text-decoration: underline;
}
.contact-container .contact-form form input, .contact-container .contact-form form textarea {
    margin-top: 3px;
    display: block;
    margin-bottom: 25px;
    border: 2px solid rgb(40,42,56);
    outline: none;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
.contact-container .contact-form form button {
    background: rgb(40,42,56);
    color: #f5f5f5;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 18px;
}
.contact-container .contact-form form .errors {
    position: relative;
    top: -25px;
    color: #CD1515;
}
.contact-container .contact-form form button:hover {
    opacity: 0.85;
}
footer {
    height: 180px;
    line-height: 2;
    background: rgb(40,42,56);
    clear: both;
    font-size: 13px;
    color: #f5f5f5;
    padding: 0 78px;
    margin-top: 70px;
}
footer p a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}
footer .left-bar {
    float: left;
}
footer .right-bar {
    float: right;
    direction: rtl;
}
.active, .expertise-menu li.active {
    background: rgb(40,42,56);
    color: #f5f5f5;
}

@media (max-width:1170px) {
    .contact-container div {
        float: none;
        width: auto;
    }
    .contact-container .contact-form {
        width: 398px;
    }
}
@media (max-width:900px) {
    .contact-container .contact-form {
        width: 398px;
    }
}
@media (max-width:900px) {
    footer .right-bar {
        display: none;
    }
    footer .left-bar {
        display: block;
    }
}
@media (max-width:815px) {
    nav {
        font-size: 17px;
    }
    .contact-container div iframe {
        width: 100%;
    }
    .contact-container .contact-form {
        width: 100%;
        min-width: auto;
    }
}
@media (max-width:625px) {
    nav {
        font-size: 15.5px;
    }
    header p {
        font-size: 18px;
    }
    .container {
        margin: 60px auto -40px;
    }
    .side-menu {
        width: auto;
        float: none;
    }
    .side-menu li {
        display: inline;
    }
    .main {
        width: auto;
        float: none;
        margin-top: 50px;
        margin-left: 0;
        font-size: 17px;
    }
    .expertise-menu {
        width: auto;
        float: none;
        margin-top: 50px;
    }
    .lawyers {
        width: auto;
        float: none;
        margin-top: 50px;
    }
    .contact-container {
        margin-top: 50px;
        width: auto;
        float: none;
    }
    .contact-container div {
        float: none;
        width: auto;
    }
}
@media (max-width:505px) {
    nav, header, .container {
        padding: 0 12px;
    }
    .container .contact-container {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width:480px) {
    footer {
        line-height: 2;
        font-size: 12px;
    }
}
@media (max-width:450px) {
    footer {
        line-height: 1.6;
        font-size: 11px;
    }
}
@media (max-width:380px) {
    header p {
        font-size: 16px;
    }
    .side-menu {
        text-align: left;
        font-size: 14px;
    }
}
@media (max-width:335px) {
    .side-menu {
        font-size: 12px;
    }
}
