{% if on_expertise %}
<script type="text/javascript">
(function() {

var heads = document.querySelectorAll('.expertise-menu .head');
for(var i=0; i<heads.length; i++) {
    (function(i) {
        heads[i].addEventListener('click', function() {
            if(this.className.indexOf('active') === -1) {
                this.classList.add('active');
                this.nextElementSibling.style.display = 'block';
            }
            else {
                this.classList.remove('active');
                this.nextElementSibling.style.display = 'none';
            }
        });
    })(i);
}

})();
</script>
{% endif %}