
{% if language == 'he' %}
<style>
.float-right {
    float: left;
}
.float-left {
    float: right;
}
.contact-container {
    margin-left: 0;
    margin-right: 40px;
}
nav .langs-dropdown-wrapper .languages {
    right: -92px;
}
.main {
    margin-left: 0;
    margin-right: 50px;
    font-size: 22px;
    direction: rtl;
}
footer .left-bar {
    text-align: left;
}
@media (max-width:625px) {
    .main {
        margin-right: 0;
    }
}
@media (max-width:900px) {
    footer .right-bar {
        display: block;
    }
    footer .left-bar {
        display: none;
    }
}
*{
    direction: rtl;
    font-family: Arial, sans-serif;
}
</style>
{% endif %}
{% if language == 'de' %}
<style>
@media (max-width:480px) {
    .side-menu {
        font-size: 12px;
    }
}
@media (max-width:380px) {
    .side-menu {
        font-size: 9.5px;
    }
}
</style>
{% endif %}